@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap')
  
*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  background: #202020
  font-family: 'Lato', sans-serif

a
  text-decoration: none

#myForm
  display: flex
  justify-content: center
  margin: 200px 0 40px 0

  #search

    padding: 15px 30px

    &:focus
      outline: none

  a
    background: royalblue
    border: none
    margin-left: -1px
    color: #fff
    display: flex
    align-items: center
    padding: 0 10px

.container
  padding: 30px
  position: absolute
  top: 45%
  left: 20%
  background: #252525
  width: 60%
  min-height: 60%
  color: #fff

  h1
    text-align: center

  h2
    margin: 10px 0

  img
    width: 200px
    border-radius: 50%
    box-shadow: 0 0 0 2px #30363d

  svg
    fill: #fff

  .repo
    position: relative
    top: -230px
    left: 43%
    z-index: 1