@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #202020;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

header .containerHeader {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  height: 100px;
  align-items: center;
}
header .containerHeader #myForm #search {
  padding: 10px 30px;
  background: #2B3440;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  outline: 0;
}

.container {
  display: none;
  background: #303030;
  width: 960px;
  margin: 20px auto;
  color: #fff;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}
.container h1 {
  font-size: 40px;
  text-align: center;
  background-image: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}
.container img {
  width: 200px;
  border-radius: 5px;
}
.container h2 {
  text-align: center;
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  background-image: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}
.container .containerCards {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.container .cards {
  background: #505050;
  color: #fff;
  border-radius: 0.3125rem;
  margin: 0.35rem;
  width: 150px;
  padding: 15px 20px;
  text-align: center;
}

main .containerRepo {
  width: 960px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
  margin: 0 auto;
}
main .containerRepo .repo {
  color: #fff;
  background: #303030;
  border-radius: 8px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);
  padding: 30px;
}
main .containerRepo .repo h2 {
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .containerRepo .repo .oi {
  font-size: 1.1rem;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  padding: 10px 0 0;
}
main .containerRepo .repo .repoInfo {
  display: flex;
  margin-top: 20px;
  align-self: baseline;
  list-style: none;
}
main .containerRepo .repo .repoInfo li + li {
  margin-left: 30px;
}
main .containerRepo .repo .stars {
  background: url("https://gitfinder-ifnzk5zf7-gabriuda.vercel.app/img/star.svg") no-repeat;
}
main .containerRepo .repo .forks {
  background: url("https://gitfinder-ifnzk5zf7-gabriuda.vercel.app/img/fork.svg") no-repeat;
}
main .containerRepo .repo .forks, main .containerRepo .repo .stars {
  padding-left: 20px;
  background-position: 0 70%;
  background-size: 15px;
}

.h1 {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  margin: 40px;
}

#gradient {
  background-image: linear-gradient(270.97deg, #FFE580 -21.36%, #FF7571 -2.45%, #EA5DAD 26.84%, #C2A0FD 64.15%, #3BF0E4 108.29%, #B2F4B6 159.03%);
  background-size: 200% 200%;
  -webkit-animation: Animation 10s ease infinite;
  -moz-animation: Animation 10s ease infinite;
  animation: Animation 10s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #232323;
}

::-webkit-scrollbar-thumb {
  background: #EA5DAD;
}

.containerAbout {
  width: 960px;
  margin: 0 auto;
  color: #fff;
  height: 100vh;
}
.containerAbout h1 {
  font-size: 40px;
  text-align: center;
  margin: 40px;
}
.containerAbout p {
  font-size: 18px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  line-height: 2;
}

/*# sourceMappingURL=style.css.map */
